.container {
  //   margin-inline: 20px;
  margin-block: 6%;

  display: flex;
  justify-content: center;
  .item {
    width: 30%;
    display: flex;
    align-items: center;
    background: #f9f6f6;
    border-radius: 15px;
    padding: 0px 10px;
    justify-content: space-between;
  }
  .img {
    width: 30px;
    height: 30px;
    padding: 5px;
  }
  .btn {
    margin-right: 20px;
    background: none;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 3px 15px;
    background: #ff8515;
    font: inherit;
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
    cursor: pointer;
    outline: inherit;
  }
  .btnBasket {
    margin-left: 20px;

    background: none;
    border: none;
    font: inherit;

    cursor: pointer;
    outline: inherit;
  }
  .btnBasket:hover {
    border-radius: 15px;

    background: #d7d7d7;
  }
  .input {
    margin-inline: 10px;

    padding: 5px;

    font-weight: 700;
  }
  .containerCart {
    position: absolute;
    right: 50;
    left: 50;
    bottom: 0;
    top: 40vh;
    // height: 40vh;
    // bottom: 10vh;
    background-color: #f9f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31%;
    border-radius: 15px;
    animation: cartFade;
    // transform: translateX(20%);
    transform: translateY(55%);
    transition: transform 0.5s ease-in;
  }
}
.navActive {
  visibility: hidden;

  transform: translateX(0%);
}
@keyframes cartFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (max-width: 900px) {
  .container {
    margin-top: 15%;
    .item {
      width: 50%;
    }
  }
}
@media (max-width: 420px) {
  .container {
    .item {
      width: 80%;
    }
  }
}
