.container {
  //   margin-inline: 20px;
  margin-block: 6%;

  display: flex;
  justify-content: center;
  .item {
    width: 30%;
    display: flex;
    align-items: center;
    background: #f9f6f6;
    border-radius: 15px;
    padding: 0px 10px;
    justify-content: space-between;
  }
  .img {
    width: 30px;
    height: 30px;
    padding: 5px;
  }
  .btn {
    margin-right: 20px;
    background: none;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 3px 15px;
    background: #ff8515;
    font: inherit;
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
    cursor: pointer;
    outline: inherit;
  }
  .btnBasket {
    margin-left: 20px;

    background: none;
    border: none;
    font: inherit;

    cursor: pointer;
    outline: inherit;
  }
  .btnBasket:hover {
    border-radius: 15px;

    background: #d7d7d7;
  }
  .input {
    margin-inline: 10px;

    padding: 5px;

    font-weight: 700;
  }
  .containerCart {
    position: absolute;
    right: 50;
    left: 50;
    padding: 20px 20px;
    align-items: stretch;
    background-color: #f9f6f6;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    animation: cartFade;
    transition: animation 2s ease-in;
    transform: translateY(55%);
  }
}
.navActive {
  visibility: hidden;
}
.modal {
  width: 465px;
  height: 220px;
  background: #f9f6f6;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  .modalTitle {
    font-weight: 700;
    font-size: 35px;
    margin: 0px;

    color: #ff8515;
  }
  .modalText {
    font-weight: 600;
    font-size: 16px;
    color: #797979;
    margin-bottom: 40px;
  }
  .modalBtn {
    font-weight: 600;

    width: 104px;
    height: 34px;
    border: none;
    background: #ff8515;
    border-radius: 15px;
    color: #f9f6f6;
  }
}
@keyframes cartFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (max-width: 900px) {
  .container {
    margin-top: 15%;
    .item {
      width: 50%;
    }
  }
}
@media (max-width: 420px) {
  .container {
    .item {
      width: 80%;
    }
  }
}
