@use "../../scss/fonts";
@use "../../scss/colours";

.containerList {
  font-family: fonts.$font-family;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #f9f6f6;
  border-radius: 15px;
  overflow: auto;

  .item {
    display: flex;
    color: #363636;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
    justify-content: space-between;
    align-items: center;
  }
  .name {
    margin-right: 70px;
    // .empty {
    //   flex: 1;
    // }
  }
  .dollar {
    font-size: 13px;
    color: colours.$orange;
    margin-right: 3px;
  }

  .btn {
    background: none;
    // color: white;
    border: none;
    border-radius: 50px;
    margin: 0;
    color: colours.$orange;
    font: inherit;
    font-size: 16px;
    height: max-content;
    cursor: pointer;
    outline: inherit;
  }
  .total {
    border-top: 1px solid rgba(121, 121, 121, 0.4);
    width: 90%;
    position: absolute;
    bottom: 0;
  }
  .center {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
