@use "../../scss/fonts";
@use "../../scss/colours";

.container {
  display: flex;
  align-items: center;
  margin: 20px 15px;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  transition: filter 0.5s ease-in-out;
  .logo {
    font-family: fonts.$font-family;
    width: 342px;
    height: 64px;
    color: #363636;
    margin-left: 8vw;
  }

  .empty {
    flex-grow: 1;
  }
  .buttons {
    display: flex;
    margin-right: 6vw;
    .button {
      background: none;
      color: inherit;
      border: none;
      padding: 5px 15px;
      font: inherit;
      font-family: fonts.$font-family;
      font-size: 0.8rem;
      font-weight: 600;
      cursor: pointer;
      outline: inherit;
      color: #797979;
    }
    .delivery {
      padding: 5px 15px !important;

      color: #f17c0f;
    }
    .deliveryGroup {
      display: flex;
      align-items: center;
      background: #ffe5cd;
      border-radius: 50px;
    }
    .buttonGroup {
      display: flex;
      margin-right: 10px;
    }
    .button:hover {
      color: #363636;
    }
    .img {
      width: 40px;
      height: 35px;
      //   padding: 6px;
      background: white;
      border-radius: 50px;
    }
  }
}
.blur {
  filter: blur(4px);
  -webkit-filter: blur(4px);
  transition: filter 0.5s ease-in-out;
}

@media (max-width: 500px) {
  .container {
    margin: 0;

    .buttons {
      flex-wrap: wrap;
      .button {
        font-size: 0.65rem;
      }
      .buttonGroup {
        // display: flex;
        padding-top: 50px;
        padding-bottom: 10px;
      }
      .deliveryGroup {
        margin-top: 20px;
      }
    }
  }
}
